{% load static %}
{% load i18n %}
<!-- Top header start -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="list-inline">
                    <a href="0953050525"><i class="fa fa-phone"></i>0953050525</a>
                    <a href="tel:info@themevessel.com"><i class="fa fa-envelope"></i>soon@soon.com</a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                <ul class="top-social-media pull-right">
                {% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% for l in languages %}
  <li>
      <a href="/{{ l.code }}/"
          {% if l.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
          {{ l.name_local}}
      </a>
  </li>
  {% endfor %}
                </ul>
            </div>
           
 
        </div>
    </div>
</header>
<!-- Top header end -->